.kast {
    background-color: #ccc;
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

.kast.vale {
    background-color: #ff0000;
}

.kast.oige {
    background-color: #00ff00;
}
