body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    text-align: center;
    color: #14568f;
}

input[type="number"] {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #14568f;
}

button {
    padding: 8px 15px;
    background-color: #14568f;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0f3d6b;
}

p {
    margin-bottom: 5px;
}

.nupp {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #14568f;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.centered {
    text-align: center;
    margin-top: 20px;
}
